.product{
    display: flex;
    border-bottom: 1px solid lightgray;
}
.product-name{
    font-weight: 400;
    color: blue;
}
.details{
    margin-left: 20px;

}
.regular-btn{
    background-color: rgba(218, 165, 32, 0.692);
    /* width: 30%; */
    height: 30px;
    border: 1px solid gray;
    border-radius: 5px;
    cursor: pointer;
    padding: 6px 6px;
}
.rating{
    color: rgb(224, 163, 7);

}